.question-page {
  text-align: center;
  padding: 20px;
}
.timer {
  font-size: 20px;
}
.progress-bar-container {
  background-color: #ccc;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.progress-bar {
  background-color: #4caf50;
  height: 100%;
  width: 100%;
  transition: width 1s linear;
}

.question {
  font-size: 24px;
  margin: 80px ;
}
.correct-not-answered
{
  background-color: greenyellow !important;
}
.correct {
  background-color: green !important;
}
.wrong{
  background-color: red !important;
}

.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.answer-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
.custom-start-button {
  visibility: visible;
  background-color: #aae4ee;
  color: black;
  border:  1px solid black;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.custom-start-button:hover {
  background-color: #0056b3;
}
